<div class="banner text-center" data-scroll-index='0'>
  <div class="banner-overlay">
    <h5 style="color: aliceblue;">CONTÁCTANOS</h5>
    <h1>¿Donde estamos?</h1>
  </div>
</div>


<div style="text-align: center;">
  <h1 style="padding: 40px;">¡Ven a conocernos!</h1>

  <div class="mapa-google">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3744.290364681002!2d-98.57471267326798!3d20.205251624244966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d106ad50504539%3A0x7e848e5c649ea827!2sLa%20Casa%20de%20la%20T%C3%ADa!5e0!3m2!1ses!2smx!4v1716960198427!5m2!1ses!2smx"
      width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <p>Justo a un lado de la Gasolineria de el centro de, Ubicado a 300 m del centro de Huasca, rumbo a San Miguel Regla, Centro, 43500 Huasca de Ocampo, Hgo.</p>
</div>

<div>
  <img src="" alt="">
</div>

