<div class="banner text-center" data-scroll-index='0'>
  <div class="banner-overlay">
    <h5 style="color: aliceblue;">CONTÁCTANOS</h5>
    <h1>¿Donde estamos?</h1>
  </div>
</div>


<!-- <div style="text-align: center;">
  <h1 style="padding: 40px;">¡Ven a conocernos!</h1>

  <div class="mapa-google">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3744.290364681002!2d-98.57471267326798!3d20.205251624244966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d106ad50504539%3A0x7e848e5c649ea827!2sLa%20Casa%20de%20la%20T%C3%ADa!5e0!3m2!1ses!2smx!4v1716960198427!5m2!1ses!2smx"
      width="1300" height="600" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <p>Justo a un lado de la Gasolineria de el centro de, Ubicado a 300 m del centro de Huasca, rumbo a San Miguel Regla, Centro, 43500 Huasca de Ocampo, Hgo.</p>
</div>

<div class="img-video-lugar" style="text-align: center;" >
  <img style="width: 100; height: 500;" src="/assets/quienes-somos4.jpeg">
</div> -->


<section class="intro">
  <h2 style="margin: 10px 20px 30px 20px;">¡Ven a conocernos!</h2>
  <div class="map">
    <!-- Inserta el mapa aquí, puede ser un iframe de Google Maps -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3744.290364681002!2d-98.57471267326798!3d20.205251624244966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d106ad50504539%3A0x7e848e5c649ea827!2sLa%20Casa%20de%20la%20T%C3%ADa!5e0!3m2!1ses!2smx!4v1716960198427!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen=""
      loading="lazy"></iframe>
      <p>Justo a un lado de la Gasolineria de el centro de, Ubicado a 300 m del centro de Huasca, rumbo a San Miguel Regla, Centro, 43500 Huasca de Ocampo, Hgo.</p>
    </div>
  <div class="video" style="padding: 60px;">
    <h3>Video del lugar</h3>
    <!-- Inserta el video aquí, puede ser un iframe de YouTube -->
    <iframe style="padding: 40px;" width="560" height="315" src="https://www.youtube.com/embed/tu_video_id" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<div class="about-us section-padding" data-scroll-index='1'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">
        <h2>Horarios de atención</h2>
      </div>
      <div class="col-md-6 mb-50">
        <div class="section-img"> <img src="assets/quienes-somos4.jpeg" width="500" class="img-responsive"/> </div>
      </div>
      <div class="col-md-6 mb-50" style="top: -50px;">
        <div class="section-info">
          <div class="sub-title-paragraph">
            <section class="hours" style="text-align: left; color: black;">
              <table>
                <tr>
                  <td class="dia">Lunes</td>
                  <td>10:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                  <td class="dia">Martes</td>
                  <td>10:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                  <td class="dia">Miércoles</td>
                  <td>10:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                  <td class="dia">Jueves</td>
                  <td>10:00 AM - 5:00 PM</td>
                </tr>
                <tr>
                  <td class="dia">Viernes</td>
                  <td>10:00 AM - 8:00 PM</td>
                </tr>
                <tr>
                  <td class="dia">Sábado</td>
                  <td>10:00 AM - 8:00 PM</td>
                </tr>
                <tr>
                  <td class="dia">Domingo</td>
                  <td>8:30 AM - 8:00 PM</td>
                </tr>
              </table>
            </section>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>



<section class="gallery">
  <h2>Ven y conoce nuestras instalaciones</h2>
  <img src="ruta/a/tu/imagen1.jpg" alt="Instalaciones 1">
  <img src="ruta/a/tu/imagen2.jpg" alt="Instalaciones 2">
</section>

<h2>Contáctanos a través de...</h2>
<div class="footer-icons">
  <a href="https://www.facebook.com"><img src="ruta/al/icono/facebook.png" alt="Facebook"></a>
  <a href="https://www.tiktok.com"><img src="ruta/al/icono/tiktok.png" alt="TikTok"></a>
  <a href="https://www.instagram.com"><img src="ruta/al/icono/instagram.png" alt="Instagram"></a>
  <a href="tel:+1234567890"><img src="ruta/al/icono/telefono.png" alt="Teléfono"></a>
</div>
